@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3f601b;
    overflow-x: hidden;
}

.logo {
    display: flex;
    gap: 20px;
}

.navbar p {
    font-size: 1.9rem;
    font-weight: 700;
    color: #f0e6bc;
    font-family: "Playfair Display";
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #293919;
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    gap: 80px;
    padding: 20px;
}

li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    color: #f0e6bc;
    font-family: "Montserrat";
}

li a:hover {
    color: #8a0202;
    transition: 0.3s ease;
}

.main-section {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    background-color: #293919;
    color: #f0e6bc;
}

.main-text {
    width: 30%;
    justify-self: center;
    padding: 20px;
}

.main-text p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    font-family: "Montserrat";
}

.main-text h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    color: #f0e6bc;
    font-family: "Playfair Display";
}

.main-section img {
    width: 500px;
    border-radius: 6px;
}

.button, .cta-button {
    display: flex;
    height: auto;
    background-color: #6d0202;
    border: 2px solid #6d0202;
    margin: 0;
    padding: 10px;
    height: auto;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
    color: #f0e6bc;
    font-family: "Playfair Display";
    letter-spacing: 2px;
}

.button:hover, .cta-button:hover {
    transition: 0.5s ease;
    background-color: #293919;
}

 h1 {
    font-size: 2.25rem;
    margin-top: 20px;
    text-align: center;
    color: #f0e6bc;
    font-family: "Playfair Display";
}
.informations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.informations p {
    color: #f0e6bc;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Montserrat";
}

.box img {
    width: 200px;
    border-radius: 4px;
}
.box {
    padding: 20px;
    margin: 0 0px;
    width: 200px;
    text-align: center;
}


blockquote {
    width: 50%;
    justify-content: center;
}

.quotation-section {
    background-color: #f0e6bc;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #6d0202;
    font-weight: lighter;
}

.quotation-section p {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    margin-top: 2px;
    color: #6d0202;
    font-family: "Montserrat";
}

h2 {
    font-family: "Playfair Display";
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 400;
    text-align: justify;
    max-width: 100%;
    justify-content: center;
}


.cta-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 20px;
    background-color: #293919;
    width: 50%;
    margin: 60px auto;
    color: #f0e6bc; 
    font-size: 1.5rem;  
    border-radius: 6px; 
    border: 1px solid #f0e6bc;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

}
.cta-text p {
    font-family: "Montserrat";  
    font-size: 1.125rem;  
}

.cta-text {
   width: 60%;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
}
.footer img {
    width: 40px;
}

.footer p {
    font-family: "Montserrat";
}



